.settings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}

.settings-sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: lavender;
  flex: 1;
  padding-top: 5em;
}

.settings-pane {
  display: flex;
  flex-direction: vertical;
  align-items: stretch;
  flex: 5;
}

.settings-tab {
  padding: 0.3em 1em 0.3em 1em;
  text-align: left;
}
